* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: beige;
    justify-content: center;
    align-items: center;
}

.wrapper {
    background-color: rgb(255, 255, 255);
    margin: 60px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    top: 20px;
    font-size: 24px;
    font-weight: bold;
}

.inputField {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
}

.inputField input[type="text"] {
    width: 80%;
    margin-top: 20px;
    font-size: 15px;
    padding: 6px;
    border-radius: 8px;
    border-style: groove;
    margin-right: 10px;
    box-sizing: border-box;
}

.add-task-btn {
    padding: 8px 12px;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    background-color: #1f201f;
    border-radius: 8px;
}

.add-task-btn.active {
    box-shadow: 0 2px 4px rgba(36, 13, 13, 0.466);
}

.add-task-btn:hover, .clear-all-btn:hover {
    background-color: #200b0b;
    transition-duration: 1s;
}

ul {
    max-height: 250px;
    margin: 0 20px;
    padding: 0;
    list-style: none;
    overflow-y: auto;
}

ul li {
    border-radius: 8px;
    background-color: white;
    border-style: groove;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    overflow: hidden;
    width: auto;
}

ul li:hover{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

ul li span.text {
    flex-grow: 1;
    word-wrap: break-word;
    max-width: calc(100% - 70px); /* the icons are visible inside the list*/
    margin-right: 0 10px;
}

ul li input[type="checkbox"] {
    cursor: pointer;
    margin-left: 3px;
}

ul li input[type="checkbox"]:checked {
    accent-color: #1f201f;
}

ul li .icons {
    display: flex;
    gap: 10px;
    flex-shrink: 0;
}

ul li i {
    gap: 10px;
    cursor: pointer;
    color: #1f201f;
    justify-content: end;
    align-items: end;
}

.footer {
    padding: 16px;
    text-align: center;
}

.clear-all-btn {
    padding: 5px 15px;
    color: white;
    background-color: #1f201f;
    cursor: pointer;
    border-radius: 8px;
}

@media (max-width:480px) {
    .wrapper {
        margin: 20px;
    }

    .inputField input[type="text"] {
        width: 100%;
    }

    ul {
        margin: 0 ;
        padding: 0;
        width: 100%;
    }
}